    <!--================Home Banner Area =================-->
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="container">
          <div
            class="banner_content d-md-flex justify-content-between align-items-center"
          >
            <div class="mb-3 mb-md-0">
              <h2>Login</h2>
              <div class="page_link">
                <a href="/">Home</a>
                <a href="/login">Login</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Tracking Box Area =================-->
    <section class="tracking_box_area section_gap mb-5">
        <div class="container">
            <div class="tracking_box_inner">
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-8">
                            <div class="px-3 mb-5">
                                <h2 class="mb-3">Login</h2>
                                <p>Have you an account? Access here!</p>
                                <form class="row tracking_form" action="/login" method="post" novalidate="novalidate">
                                    <div class="col-md-12 form-group">
                                        <input type="email" class="single-input" id="login" name="login" placeholder="Email">
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <input type="password" class="single-input" id="password" name="password" placeholder="Password">
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <button type="submit" value="submit" class="btn submit_btn">Enter</button>
                                        <a href="/forgot">&ensp;Forgot my password</a>
                                    </div>
                                    {if="$error != ''"}
                                    <div class="col-md-12 form-group">
                                        <div class="alert alert-danger">
                                            {$error}
                                        </div>
                                    </div>
                                    {/if}
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="col-md-10">
                            <div class="px-3">
                                <h2 class="mb-3">Sign Up</h2>
                                <p>Don't have an account? Sign up here!</p>
                                <form class="row tracking_form" action="/register" method="post" novalidate="novalidate">
                                    <div class="col-md-12 form-group">
                                        <input type="text" class="single-input" id="name" name="name" placeholder="Name">
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <input type="email" class="single-input" id="email" name="email" placeholder="Email">
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <input type="text" class="single-input" id="phone" name="phone" placeholder="Phone">
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <input type="password" class="single-input" id="password" name="password" placeholder="Password">
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <button type="submit" value="submit" class="btn submit_btn">Register</button>
                                    </div>
                                    {if="$errorRegister != ''"}
                                    <div class="col-md-12 form-group">
                                        <div class="alert alert-danger">
                                            {$errorRegister}
                                        </div>
                                    </div>
                                    {/if}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Tracking Box Area =================-->